<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>twitter-image-collage-maker</title>
    <meta name="description" content="twitter-image-collage-maker">
    <meta name="author" content="TheLovinator">
</head>

<body>
    <p>
        <a href="https://github.com/TheLovinator1/twitter-image-collage-maker">GitHub Repository.</a><br />
        <hr>
        <br />

        <strong>How to use:</strong><br />
        If you want to make one image from all the images from <a
            href="https://twitter.com/Zendaya/status/1197649654785069057">https://twitter.com/Zendaya/status/1197649654785069057</a>
        you need
        to go to <a href="/add?tweet_id=1197649654785069057">/add?tweet_id=1197649654785069057</a>.<br />
        It takes a few seconds so don't panic. 🤡
        <br />
        <hr>

        <strong>Response:</strong>
        <pre>
            {
            "url": "https://twitter.lovinator.space/static/tweets/1197649654785069057.png"
            }
        </pre>
        <hr>

        <strong>Before:</strong>
        <br />
        <img alt="Before1" src=" {{ url_for('static', filename='img/EJ7n4pfU0AE6gUg.jpg')}}" width="15%" height="15%">
        <img alt="Before2" src=" {{ url_for('static', filename='img/EJ7n4pfU4AARDwj.jpg')}}" width="15%" height="15%">
        <img alt="Before3" src=" {{ url_for('static', filename='img/EJ7n4pfVUAA9kHQ.jpg')}}" width="15%" height="15%">
        <img alt="Before4" src=" {{ url_for('static', filename='img/EJ7n4pfVUAEJskS.jpg')}}" width="15%" height="15%">
        <br />
        <hr>

        <strong>After:</strong>
        <br />
        <img alt="After1" src=" {{ url_for('static', filename='img/1197649654785069057.png')}}" width="15%"
            height="15%">
    </p>
</body>

</html>