[Unit]
Description=Service for Gunicorn for twitter.lovinator.space.
Requires=twitter.socket
After=network.target

[Service]
Type=notify

# Change lovinator to your username
User=lovinator
Group=lovinator
WorkingDirectory=/home/lovinator/twitter-image-collage-maker/twitter_image_collage_maker

# You need to create /var/log/twitter and change permissions to your user. And change lovinator to your username.
# I have no idea if 3 workers and 3 threads is the best combination. You should test what is best for you.
ExecStart=/home/lovinator/twitter-image-collage-maker/.venv/bin/gunicorn --workers=3 --threads=3 --bind unix:/run/twitter.sock --access-logfile /var/log/twitter/access.log  --error-logfile /var/log/twitter/error.log main:app 
Restart=on-failure

[Install]
WantedBy=multi-user.target 
